<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
    <h1>Modify Page</h1>
    <!--<th:block th:with="user=${#authentication.getPrincipal().user}">[[${user}]]</th:block>-->

    <form action="/user/modify" method="post">
        <!-- CSRF 토큰 추가 -->
        <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }">
        <div class="col m-2">
            <div class="card border-dark mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="@{/image/IMG_1488.jpg}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <input type="hidden" name="email" th:value="${userDTO.email }">
                            <h5 class="card-title">
                                <input type="text" name="nickName" class="form-control" th:value="${userDTO.nickName }">
                                <input type="password" name="pw" class="form-control" placeholder="password...">
                            </h5>
                            <p class="card-text">[[${userDTO.email }]] </p>
                            <p class="card-text">Register [[${userDTO.regDate }]] </p>
                            <p class="card-text"><small class="text-body-secondary">Last login [[${userDTO.lastLogin }]] ago</small></p>
                            <th:block th:each="auths:${userDTO.authList}">
                                <span class="badge rounded-pill text-bg-success">[[${auths.role }]]</span>
                            </th:block>
                            <button type="submit" class="btn btn-primary btn-sm">modify</button>
                            <a th:href="@{/user/remove}"><button type="button" class="btn btn-danger btn-sm">remove</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>