<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
    <h1>Spring Boot_JPA Project...</h1>

    <script th:inline="javascript">
        const modMsg = [[${modMsg}]];
        const delMsg = [[${delMsg}]];
        console.log(modMsg);
        if(modMsg == "ok"){
            alert("회원정보가 수정되었습니다. 다시 로그인 해주세요.");
        }
        if(modMsg == "fail"){
            alert("회원정보수정이 실패되었습니다. 다시 시도해주세요.");
        }
        if(delMsg == "ok"){
            alert("회원이 탈퇴되었습니다.");
        }
        if(delMsg == "fail"){
            alert("회원탈퇴가 실패되었습니다. 다시 시도해주세요.");
        }
    </script>

</div>

